@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light+Two&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: play, sans-serif;
}

.TarjetaTitulo{
    background-color: #1A1616;
    display: grid;
    grid-template-columns: 11rem 2rem 2rem;
    grid-template-rows: 10rem 10rem;
    gap: 3rem;
    justify-content: center;
    height: 100%;

}
h2 {
    color: whitesmoke;
    font-size: 1rem;    
    height: 40px;
    align-self: flex-start;


}
button{
    width: 4rem;
    height: 2rem;
}
.imagen{
    grid-column: 1/3;
    grid-row: 2;
    width: 125px;
    height: 145px;
}