@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light+Two&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: play, sans-serif;
}

.TarjetaTitulo{
    background-color: #1A1616;
    display: grid;
    grid-template-columns: 11rem 2rem;
    grid-template-rows: 2rem 10rem;
    row-gap: 2rem;
    column-gap: 5rem;
    justify-content: center;
    margin-right: 9.5rem;
    margin-top: 1rem;

}
h2 {
    color: whitesmoke;
    font-size: 1rem;    
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;


}
.FlechaIzq, .FlechaDer{
    width: 4rem;
    height: 2rem;
    box-sizing: 0;
    background-color: #1A1616;
    border: 0;
    color: whitesmoke;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    width: 50px;
    height: 20px;
    font-size: 2.5rem;
}
.FlechaDer:hover{
    color: grey;
}
.FlechaIzq:hover{
    color: grey;
}
.imagen{
    grid-column: 1/3;
    grid-row: 2;
    width: 125px;
    height: 145px;
    justify-self: start;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 12px;
}
.imagen:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(45, 212, 191, 0.3);

}
.Flechasmov {
    display: flex; 
    gap: 1.5rem; /*  controla el espacio entre las flechas */
    margin-left: 12rem;    /* controla el espacion entre las flechas y el h2 */
}
