
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light+Two&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: play, sans-serif;
}
body{
    color: whitesmoke;
}
.header {
    background: black;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    gap: 1rem; 
    width: 100%;
}

.nav h1 {
    margin-right: 1rem;
    font-size: 1.25rem;
    
}

.nav img {
    height: 40px;
    width: auto;
    margin-right: 0.5rem;
}

.links a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.links a:hover {
    transition: 0s;
    color: #696969;
}
.links a:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background: #DCDCDC;
    scale: 0 1;
    transition: 0.3s, translate 0s 0.3s;
}

.links a:hover:before{
    scale: 1;
    translate: 0;
    transition: 0.3s;
}
.links:hover a:has(~ a:hover):before{
    translate: 100% 0;
    transition: 0.3s 0.3s, scale 0s 0.4s;
}
.links:hover a:hover ~ a:before {
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}