
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


.main-content {
  width: 1200px;
  height: 100%;
  margin: 4.5rem auto 0;
  border: none;
  padding: 0 2rem;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

/* Grid de juegos */
.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.game-card {
  background-color: #1f1f1f;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(45, 212, 191, 0.3);
}

.game-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.game-card-content {
  padding: 12px;
}

.game-card-title {
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

/* Responsive */
@media (max-width: 640px) {
  .main-title {
    font-size: 28px;
  }
  
  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
  }
}